name: release

on:
  push:
    tags: ["v*"]

permissions:
  contents: write
  packages: write

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Check
        run: nix flake check

      - name: Build
        run: nix build

      - name: Export build
        run: nix nario export --format 2 --recursive > build.nario

      - name: Upload build
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: build
          path: build.nario

  release:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          generate_release_notes: true

  linux-amd64:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#goToLinuxAmd64 -o template-linux-amd64; then
            nix bundle --bundler github:spotdemo4/nur#goToLinuxAmd64 -o template-linux-amd64
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64

  linux-amd64-deb:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:NixOS/bundlers#toDEB -o result; then
            nix bundle --bundler github:NixOS/bundlers#toDEB -o result
          fi

          cp result/*.deb template-linux-amd64.deb

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64.deb

  linux-amd64-rpm:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:NixOS/bundlers#toRPM -o result; then
            nix bundle --bundler github:NixOS/bundlers#toRPM -o result
          fi

          cp result/*.rpm template-linux-amd64.rpm

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-amd64.rpm

  linux-arm64:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#goToLinuxArm64 -o template-linux-arm64; then
            nix bundle --bundler github:spotdemo4/nur#goToLinuxArm64 -o template-linux-arm64
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-arm64

  linux-arm:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#goToLinuxArm -o template-linux-arm; then
            nix bundle --bundler github:spotdemo4/nur#goToLinuxArm -o template-linux-arm
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-linux-arm

  darwin-arm64:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#goToDarwinArm64 -o template-darwin-arm64; then
            nix bundle --bundler github:spotdemo4/nur#goToDarwinArm64 -o template-darwin-arm64
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-darwin-arm64

  windows-amd64:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#goToWindowsAmd64 -o template-windows-amd64.exe; then
            nix bundle --bundler github:spotdemo4/nur#goToWindowsAmd64 -o template-windows-amd64.exe
          fi

      - name: Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: template-windows-amd64

  container:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@2109e877d5ff4cd827944b51781cc6b1eac88a47 # v1.8.3

      - name: Download build
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: build

      - name: Import build
        run: nix nario import --no-check-sigs < build.nario

      - name: Bundle
        run: |
          if ! nix bundle --bundler github:spotdemo4/nur#toDockerStream -o result; then
            nix bundle --bundler github:spotdemo4/nur#toDockerStream -o result
          fi

      - name: Release
        run: >
          ./result |
          gzip --fast |
          nix shell nixpkgs#skopeo
          --inputs-from .
          --command skopeo copy
          --dest-creds=${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
          docker-archive:/dev/stdin
          docker://ghcr.io/${{ github.repository }}:${GITHUB_REF_NAME#v}
